[Unit]
Description=ups_monitor

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/ups_monitor.py
Restart=always

[Install]
WantedBy=multi-user.target